@media only screen and (min-width: 1025px){
body {
  background-color: black;
  background-size: cover;
}

.first, .second, .third {
  display: flex;
  width: 98vw;
  flex-wrap: wrap;
}
.first {
  height: 45vw;
}
.second{
  height: 45vw;
}
.third {
  height: 33vw;
}

/* textes */

.ttt {
  display: flex;
  z-index: 1;
  width: 37.45vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.30vw;
  line-height: 1.56vw;
  color: #fff;
}

.text1 {
  display: flex;
  z-index: 1;
  width: 38.5vw;
  margin-left: 57.77vw;
  margin-top: -34vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.30vw;
  line-height: 1.6vw;
  color: #fff;
}
.text2 {
  display: flex;
  z-index: 1;
  width: 39vw;
  margin-left: 57.77vw;
  margin-top: -19vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.30vw;
  line-height: 1.6vw;
  color: #fff;
}

.text3 {
  margin-left: 6.35vw;
  margin-top: -4.07vw;
}
.text4 {
  margin-left: -37.35vw;
  margin-top: 1.95vw;
}
.text5   {
  margin-left: -37.35vw;
  margin-top: 9.68vw;
}
.text6 {
  margin-left: -37.35vw;
  margin-top: 17.06vw;
}
.text7 {
  margin-left: -6.35vw;
  margin-top: 27.80vw;
  display: flex;
  z-index: 1;
  width: 18.45vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.30vw;
  line-height: 1.56vw;
  color: #F9E000;
}


.third  a {
  display: inline-grid;
  margin-top: 1vw;
  line-height: 2.29vw;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  text-decoration: none;
}

/* photos */

.photo1 {
  display: flex;
  z-index: 0;
  background-image: url('../img/photo1.png');
  background-size: cover;
  width: 53.64vw;
  height: 29.5vw;
  margin-left: 2vw;
  margin-top: 3.5vw;
}

.photo2 {
  display: flex;
  z-index: 0;
  background-image: url('../img/photo2.png');
  background-size: cover;
  width: 48.64vw;
  height: 30.5vw;
  margin-left: 48vw;
  margin-top: -45.5vw;
}

.book {
  display: flex;
  z-index: 0;
  background-image: url('../img/book.png');
  background-size: cover;
  width: 24.64vw;
  height: 25.5vw;
  margin-left: 3.5vw;
  margin-top: -5.5vw;
}

/* vectors */

.watermalon1 {
  z-index: 1;
  background-image: url('../img/Group13.png');
  background-size: cover;
  position: absolute;
  width: 20.64vw;
  height: 25.5vw;
  left: 1vw;
  top: 5.5vw;
  rotate: 33deg;
}
.watermalon1:hover {
  opacity: 0%;
}

.fish1 {
  z-index: 2;
  background-image: url('../img/Vector49.png');
  background-size: cover;
  position: absolute;
  width: 8.8vw;
  height: 19.5vw;
  left: 81vw;
  top: 33.5vw;
  rotate: 84deg;
}
.fish1:hover {
  opacity: 0%;
}

.apple1 {
  z-index: 3;
  background-image: url('../img/Group11.png');
  background-size: cover;
  position: absolute;
  width: 13vw;
  height: 10.5vw;
  left: 47.7vw;
  top: 73vw;
  rotate: 26deg;
}
.apple1:hover {
  opacity: 0%;
}

.flower {
  display: flex;
  margin-left: 15vw;
  margin-top: -4vw;
  z-index: 0;
  background-image: url('../img/flower.png');
  background-size: cover;
  width: 18.64vw;
  height: 18.5vw;
}
.tree {
  display: flex;
  margin-left: 15vw;
  margin-top: -6vw;
  z-index: 0;
  background-image: url('../img/tree.png');
  background-size: cover;
  width: 13.64vw;
  height: 23.5vw;
}

.banana1 {
  z-index: 6;
  background-image: url('../img/banana.png');
  background-size: cover;
  position: absolute;
  width: 28.64vw;
  height: 10.5vw;
  left: 66.5vw;
  top: 121.5vw;
}
.banana1:hover {
  opacity: 0%;
}

.button1 {
  margin-left: 2.38vw;
  margin-top: -1.99vw;
  cursor: pointer;
}
.button2 {
  margin-left: 3.5vw;
  margin-top: -2.01vw;
  cursor: pointer;
}
.button3 {
  margin-left: 69.38vw;
  margin-top: -9.8vw;
  cursor: pointer;
}

.bb {
  display: inline-grid;
  margin-bottom: 2vw;
  text-align: center;
  width: 30vw;
  height: 5vw;
  background-color: black;
  border: 2px solid #FFFFFF;
  border-radius: 27px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 4.56vw;
  -moz-text-align-last: center;
       text-align-last: center;
  color: #fff;
}

.b5 {
  top: 167vw;
}

}
