@media only screen and (max-device-width: 480px) {
body {
  background-color: black;
  background-size: cover;
}

.first, .second, .third {
  display: flex;
  width: 98vw;
  flex-wrap: wrap;
}

/* textes */

.ttt {
  display: flex;
  z-index: 1;
  width: 37.45vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 3.3vw;
  color: #fff;
}

.text1 {
  display: flex;
  width: 85.5vw;
  margin-left: 6vw;
  margin-top: 4.09vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 3.3vw;
  color: #fff;
}
.text2 {
  display: flex;
  width: 85.5vw;
  margin-left: 6vw;
  margin-top: 4.28vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 3.3vw;
  color: #fff;
}

.text3 {
  width: 76.45vw;
  height: 10vw;
  margin-left: 6vw;
  margin-top: 8.07vw;
}
.text4 {
  width: 76.45vw;
  height: 10vw;
  margin-left: 6vw;
  margin-top: 2.95vw;
}
.text5 {
  width: 76.45vw;
  height: 10vw;
  margin-left: 6vw;
  margin-top: 9.68vw;
}
.text6 {
  width: 76.45vw;
  height: 10vw;
  margin-left: 6vw;
  margin-top: 7.06vw;
}
.text7 {
  display: flex;
  width: 56.45vw;
  margin-left: 57.06vw;
  margin-top: 7.80vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 3.3vw;
  color: #F9E000;
}


.third a  {
  margin-top: 1vw;
  line-height: 2.29vw;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  text-decoration: none;
}

/* photos */

.photo1 {
  display: flex;
  background-image: url('../img/photo1.png');
  background-size: cover;
  width: 91.64vw;
  height: 52.5vw;
  margin-left: 6vw;
  margin-top: 1.5vw;
}

.photo2 {
  display: flex;
  background-image: url('../img/photo2.png');
  background-size: cover;
  width: 91.64vw;
  height: 57.5vw;
  margin-left: 6vw;
  margin-top: 18.5vw;
}

.book {
  display: flex;
  background-image: url('../img/book.png');
  background-size: cover;
  width: 24.64vw;
  height: 25.5vw;
  margin-left: 3.5vw;
  margin-top: 7.5vw;
}

/* vectors */

.watermalon1 {
  z-index: 1;
  background-image: url('../img/Group13.png');
  background-size: cover;
  position: absolute;
  width: 32.64vw;
  height: 40.5vw;
  left: 4vw;
  top: 10.5vw;
  rotate: 33deg;
}
.watermalon1:hover {
  opacity: 0%;
}

.fish1 {
  z-index: 2;
  background-image: url('../img/Vector49.png');
  background-size: cover;
  position: absolute;
  width: 15.8vw;
  height: 35.5vw;
  left: 74vw;
  top: 124.5vw;
  rotate: 66deg;
}
.fish1:hover {
  opacity: 0%;
}

.apple1 {
  z-index: 3;
  background-image: url('../img/Group11.png');
  background-size: cover;
  position: absolute;
  width: 15vw;
  height: 12.5vw;
  left: 83.7vw;
  top: 279vw;
  rotate: 26deg;
}
.apple1:hover {
  opacity: 0%;
}

.flower {
  display: flex;
  background-image: url('../img/flower.png');
  background-size: cover;
  width: 18.64vw;
  height: 18.5vw;
  margin-left: 12.5vw;
  margin-top: 9.5vw;
}
.tree {
  display: flex;
  background-image: url('../img/tree.png');
  background-size: cover;
  width: 13.64vw;
  height: 23.5vw;
  margin-left: 14.5vw;
  margin-top: 8.5vw;
}

.banana1 {
  z-index: 6;
  background-image: url('../img/banana.png');
  background-size: cover;
  position: absolute;
  width: 28.64vw;
  height: 10.5vw;
  left: 61.5vw;
  top: 342.5vw;
}
.banana1:hover {
  opacity: 0%;
}

.button1 {
  margin-left: 3.38vw;
  margin-top: 0.99vw;
}
.button2 {
  margin-left: 5.38vw;
  margin-top: 0.99vw;
}
.button3 {
  margin-left: 66.7vw;
  margin-top: -8.99vw;
}

.bb {
  display: inline-grid;
  margin-bottom: 2vw;
  text-align: center;
  width: 26vw;
  height: 5vw;
  background-color: black;
  border: 2px solid #FFFFFF;
  border-radius: 27px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 4.56vw;
  -moz-text-align-last: center;
       text-align-last: center;
  color: #fff;
  text-decoration: none;
}

.button1:hover {
  background-color: #333333;
}
.button2:hover {
  background-color: #333333;
}
.button3:hover {
  background-color: #333333;
}

.b5 {
  top: 298vw;
}

}
}
