@media only screen and (min-width: 481px) and (max-width: 1024px) {
.abauthor {
  z-index: 1;
  width: 5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2.30vw;
  line-height: 2.56vw;
  color: #fff;
}
.abteachers {
  z-index: 1;
  margin-left: 11vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2.30vw;
  line-height: 2.56vw;
  color: #fff;
}
.hse {
  z-index: 0;
  background-image: url('../img/hse.png');
  background-size: cover;
  width: 18vw;
  height: 7.5vw;
  margin-right: 2vw;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.creators {
  margin-left: 2vw;
  display: inline-flex;
  justify-content: space-between;
}
.creators, .hse {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
}
