@media only screen and (min-width: 481px) and (max-width: 1024px) {
.abauthor {
  z-index: 1;
  position: absolute;
  width: 5vw;
  height: 5vw;
  margin-left: 4vw;
  margin-top: 2vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2.30vw;
  line-height: 2.56vw;
  color: #fff;
}
.abteachers {
  z-index: 1;
  position: absolute;
  width: 23vw;
  height: 5vw;
  margin-left: 22vw;
  margin-top: 2vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2.30vw;
  line-height: 2.56vw;
  color: #fff;
}
.hse {
  z-index: 0;
  background-image: url('../img/hse.png');
  background-size: cover;
  position: absolute;
  width: 18vw;
  height: 7.5vw;
  left: 80vw;
  top: 2.5vw;
}
}
