@media only screen and (min-width: 1025px){
.abauthor {
  z-index: 1;
  position: absolute;
  width: 5vw;
  height: 5vw;
  margin-left: 2vw;
  margin-top: 2vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.30vw;
  line-height: 1.56vw;
  color: #fff;
}
.abteachers {
  z-index: 1;
  position: absolute;
  width: 13vw;
  height: 5vw;
  margin-left: 13vw;
  margin-top: 2vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.30vw;
  line-height: 1.56vw;
  color: #fff;
}
.hse {
  z-index: 0;
  background-image: url('../img/hse.png');
  background-size: cover;
  position: absolute;
  width: 13vw;
  height: 5.5vw;
  left: 85vw;
  top: 1.5vw;
}
}