@media only screen and (max-device-width: 480px) {
.outside > .tb {
  margin-top: 2vw;
  line-height: 11.16vw;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 7vw;
  text-decoration: none;
}
.outside > .tb:hover {
  line-height: 11.29vw;
  color: #FFE602;
  text-decoration: none;
  font-size: 7vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.arrow1, .arrow2, .arrow3, .arrow4, .arrow5 {
  display: flex;
  background-image: url('../img/arrowW.png');
  background-size: cover;
  width: 14.64vw;
  height: 4.64vw;
  margin-left: 78vw;
  margin-top: -8vw;
}
.arrow1:hover , .arrow2:hover , .arrow3:hover , .arrow4:hover , .arrow5:hover  {
  display: flex;
  background-image: url('../img/arrowY.png');
  background-size: cover;
}


.outside {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 98vw;
  margin-top: 40vw;
}
.about, .afishi, .merch, .timetable1 {
  display: flex;
  flex-direction: column;
  width: 98vw;
  height: 14vw;
  margin: 1vw 3vw;
  border-bottom: 2px solid #FFFFFF;
}
.form {
  display: flex;
  flex-direction: column;
  width: 98vw;
  height: 13vw;
  margin: 5vw 3vw;
}

.bottom {
  margin-top: 36vw;
}
}
