@media only screen and (min-width: 481px) and (max-width: 1024px) {
body {
  background-color: black;
  background-size: cover;
}


.bigF {
 display: flex;
 margin-top: -6vw;
}

input, select {
  display: flex;
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 1.56vw;
  color: #fff;
  margin-top: -10px;
}

form > div > * {
  display: inline-block;
}

input[type="radio"] {
  margin-left: 6px;
  color: #fff;
}

select {
  text-align: center;
  font-size: 20px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  height: 10.2vw;
  border: 1px solid #fff;
  background-color: black;
  background-size: cover;
  border-radius: 4px;
  margin-left: 7.5vw;
  width: 85vw;
  color: #fff;
}

.name, .surname, .email, .telephone, .promocode {
  z-index: 5;
  display: flex;
  flex-direction: column;
  margin-left: 7.5vw;
  margin-top: 2vw;
}

input {
  font-size: 20px;
  height: 10.2vw;
  border: 1px solid #fff;
  background-color: black;
  background-size: cover;
  border-radius: 4px;
  width: 84vw;
  color: #fff;
}

.tin1{
  z-index: 6;
  background-image: url('../img/Group10.png');
  background-size: cover;
  display: flex;
  width: 30.64vw;
  height: 28.5vw;
  left: 69vw;
  top: 98.5vw;
}
.tin1:hover {
  opacity: 0%;
}
.rubbish_bin {
  display: none;
}

.butt {
  display: inline-grid;
  width: 35vw;
  height: 8vw;
  background-color: black;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  margin-top: 5vw;
  margin-left: 34.7vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 4vw;
  -moz-text-align-last: center;
       text-align-last: center;
  color: #fff;
}

.secret {
  position: absolute;
  text-align: center;
  width: 28vw;
  height: 8vw;
  background-color: black;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  top: 12vw;
  left: 3.7vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 2.56vw;
  -moz-text-align-last: center;
       text-align-last: center;
  color: #fff;
}

.thanks {
  z-index: 6;
  position: absolute;
  background-image: url('../img/thanks.png');
  background-size: cover;
  width: 86.4vw;
  height: 21.9vw;
  top: 56.5vw;
  left: 7vw;
}

.b4 {
  margin-top: 14vw;
}

}
