@media only screen and (min-width: 481px) and (max-width: 1024px) {
body {
  background-color: black;
  background-size: cover;
}

/* text */
.back_text {
  position: absolute;
  margin-top: 45vw;
  margin-left: 6vw;
}
.hello {
  text-align: left;
  position: absolute;
  width: 77vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 122px;
  line-height: 174px;
  color: #FFE602;
}
.orrore {
  background-image: url('../img/Group7.png');
  background-size: cover;
  position: absolute;
  width: 34.64vw;
  height: 7.50vw;
  left: 11.43vw;
  top: 41.58vw;
}

/* trash */
.watermalon {
  z-index: 1;
  background-image: url('../img/Group13.png');
  background-size: cover;
  position: absolute;
  width: 49.64vw;
  height: 61.5vw;
  left: 0vw;
  top: 6.5vw;
  transform: rotate(26deg);
}
.watermalon:hover {
  opacity: 0%;
}
.milk {
  z-index: 1;
  background-image: url('../img/Group15.png');
  background-size: cover;
  position: absolute;
  width: 46.64vw;
  height: 46.5vw;
  left: 0vw;
  top: 102.5vw;
}
.milk:hover {
  opacity: 0%;
}
.bottle {
  z-index: 2;
  background-image: url('../img/Vector35.png');
  background-size: cover;
  position: absolute;
  width: 35.64vw;
  height: 43.5vw;
  left: 14vw;
  top: 15vw;
  transform: rotate(50deg);
}
.bottle:hover {
  opacity: 0%;
}
.apple {
  z-index: 3;
  background-image: url('../img/Group11.png');
  background-size: cover;
  position: absolute;
  width: 32vw;
  height: 28.5vw;
  left: 43.7vw;
  top: 116vw;
  transform: rotate(316deg);
}
.apple:hover {
  opacity: 0%;
}
.straw {
  z-index: 2;
  background-image: url('../img/Vector40.png');
  background-size: cover;
  position: absolute;
  width: 46.66vw;
  height: 44.5vw;
  left: 2vw;
  top: 88.5vw;
}
.straw:hover {
  opacity: 0%;
}
.bag {
  z-index: 1;
  background-image: url('../img/Exclude.png');
  background-size: cover;
  position: absolute;
  width: 92vw;
  height: 73.8vw;
  left: 3vw;
  top: 32.6vw;
}
.bag:hover {
  opacity: 0%;
}
.ear_straw {
  z-index: 1;
  background-image: url('../img/Group14.png');
  background-size: cover;
  position: absolute;
  width: 20vw;
  height: 9vw;
  left: 21vw;
  top: 42.6vw;
  transform: rotate(331deg);
}
.ear_straw:hover {
  opacity: 0%;
}
.spoon {
  z-index: 1;
  background-image: url('../img/Vector46.png');
  background-size: cover;
  position: absolute;
  width: 39.64vw;
  height: 7.5vw;
  left: -8vw;
  top: 55.5vw;
  transform: rotate(117deg);
}
.spoon:hover {
  opacity: 0%;
}
.brush {
  z-index: 2;
  background-image: url('../img/Vector42.png');
  background-size: cover;
  position: absolute;
  width: 18.7vw;
  height: 36vw;
  left: 48vw;
  top: 12.1vw;
  transform: rotate(140deg);
}
.brush:hover {
  opacity: 0%;
}
.tin {
  z-index: 1;
  background-image: url('../img/Group10.png');
  background-size: cover;
  position: absolute;
  width: 39.64vw;
  height: 36.5vw;
  left: 60vw;
  top: 111.5vw;
}
.tin:hover {
  opacity: 0%;
}
.coffee_cup {
  z-index: 1;
  background-image: url('../img/Group9.png');
  background-size: cover;
  position: absolute;
  width: 35.8vw;
  height: 38vw;
  left: 61.5vw;
  top: 10.5vw;
}
.coffee_cup:hover {
  opacity: 0%;
}
.ice_coffee_cup {
  z-index: 1;
  background-image: url('../img/Vector45.png');
  background-size: cover;
  position: absolute;
  width: 28vw;
  height: 51.5vw;
  left: 56.1vw;
  top: 77.5vw;
  transform: rotate(58deg);
}
.ice_coffee_cup:hover {
  opacity: 0%;
}
.stuff {
 display: none;
}
.stuff:hover {
  opacity: 0%;
}
.tin_holder {
  display: none;
}
.tin_holder:hover {
  opacity: 0%;
}
.tooth_tube {
  display: none;
}
.tooth_tube:hover {
  opacity: 0%;
}
.fish {
  z-index: 2;
  background-image: url('../img/Vector49.png');
  background-size: cover;
  position: absolute;
  width: 17.64vw;
  height: 39.5vw;
  left: 58vw;
  top: 7.5vw;
}
.fish:hover {
  opacity: 0%;
}
.big_jar {
  z-index: 0;
  background-image: url('../img/Group12.png');
  background-size: cover;
  position: absolute;
  width: 49vw;
  height: 32.7vw;
  left: 47.2vw;
  top: 45.7vw;
}
.big_jar:hover {
  opacity: 0%;
}
.banana {
  z-index: 1;
  background-image: url('../img/Exclude-2.png');
  background-size: cover;
  position: absolute;
  width: 27.5vw;
  height: 37.5vw;
  left: 60.3vw;
  top: 65.7vw;
  transform: rotate(117deg);
}
.banana:hover {
  opacity: 0%;
}

}
