@media only screen and (min-width: 1025px){
body {
  background-color: black;
  background-size: cover;
}

.none {
  display: none;
}

.shopping {
  display: flex;
  width: 98vw;
  height: 135vw;
  flex-wrap: wrap;
}

.pp {
  width: 21.5vw;
  height: 31.5vw;
  top: 7.2vw;
}

.sh {
  background-image: url('../img/shopping_card.png');
  background-size: cover;
  display: flex;
  width: 1.8vw;
  height: 1.5vw;
  margin-top: -2.5vw;
  margin-left: 19.6vw;
}

.d {
  background-image: url('../img/done.png');
  background-size: cover;
  display: flex;
  width: 1.8vw;
  height: 1.5vw;
  margin-top: -1.5vw;
  margin-left: 19.6vw;
}

.price {
  display: flex;
  margin: 1vw 0vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 1.56vw;
  color: #fff;
}

.diffuser {
  top: 5.5vw;
  left: 1.5vw;
  margin: 1vw 1.5vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.30vw;
  line-height: 9.06vw;
  color: #FFE602;
}
.photo3 {
  display: flex;
  background-image: url('../img/diffuser.png');
  background-size: cover;
}


.soap {
  top: 5.5vw;
  left: 26.5vw;
  margin: 1vw 1.5vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.30vw;
  line-height: 9.06vw;
  color: #FFE602;
}
.photo4 {
  display: flex;
  background-image: url('../img/soap.png');
  background-size: cover;
}


.book2 {
  top: 5.5vw;
  left: 51vw;
  margin: 1vw 1.5vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.30vw;
  line-height: 9.06vw;
  color: #FFE602;
}
.photo5 {
  display: flex;
  background-image: url('../img/book2.png');
  background-size: cover;
}


.socks {
  top: 5.5vw;
  left: 75.5vw;
  margin: 1vw 1.5vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.30vw;
  line-height: 9.06vw;
  color: #FFE602;
}
.photo6 {
  display: flex;
  background-image: url('../img/socks.png');
  background-size: cover;
}


.cup {
  top: 52.5vw;
  left: 1.5vw;
  margin: 1vw 1.5vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.30vw;
  line-height: 9.06vw;
  color: #FFE602;
}
.photo7 {
  display: flex;
  background-image: url('../img/cup.png');
  background-size: cover;
}


.shopper {
  top: 52.5vw;
  left: 26.5vw;
  margin: 1vw 1.5vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.30vw;
  line-height: 9.06vw;
  color: #FFE602;
}
.photo8 {
  display: flex;
  background-image: url('../img/shopper.png');
  background-size: cover;
}


.t-shirt {
  top: 52.5vw;
  left: 51vw;
  margin: 1vw 1.5vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.30vw;
  line-height: 9.06vw;
  color: #FFE602;
}
.photo9 {
  display: flex;
  background-image: url('../img/t-shirt.png');
  background-size: cover;
}


.tea {
  top: 52.5vw;
  left: 75.5vw;
  margin: 1vw 1.5vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.30vw;
  line-height: 9.06vw;
  color: #FFE602;
}
.photo10 {
  display: flex;
  background-image: url('../img/tea.png');
  background-size: cover;
}

.notebook {
  top: 99.5vw;
  left: 1.5vw;
  margin: 1vw 1.5vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.30vw;
  line-height: 9.06vw;
  color: #FFE602;
}
.photo11 {
  display: flex;
  background-image: url('../img/notebook.png');
  background-size: cover;
}


.mask {
  top: 99.5vw;
  left: 26.5vw;
  margin: 1vw 1.5vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.30vw;
  line-height: 9.06vw;
  color: #FFE602;
}
.photo12 {
  display: flex;
  background-image: url('../img/mask.png');
  background-size: cover;
}


.bottels {
  top: 99.5vw;
  left: 51vw;
  margin: 1vw 1.5vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.30vw;
  line-height: 9.06vw;
  color: #FFE602;
}
.photo13 {
  display: flex;
  background-image: url('../img/bottels.png');
  background-size: cover;
}


.card {
  top: 99.5vw;
  left: 75.5vw;
  margin: 1vw 1.5vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.30vw;
  line-height: 9.06vw;
  color: #FFE602;
}
.photo14 {
  display: flex;
  background-image: url('../img/card.png');
  background-size: cover;
}

.order {
  display: inline-grid;
  margin-top: 3vw;
  margin-left: 34vw;
  margin-bottom: 2vw;
  text-align: center;
  width: 30vw;
  height: 5vw;
  background-color: black;
  border: 1px solid #FFFFFF;
  border-radius: 27px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 4.56vw;
  -moz-text-align-last: center;
       text-align-last: center;
  color: #fff;
  cursor: pointer;
}

.order:hover {
  background-color: #333333;
}

.process {
  z-index: 6;
  position: absolute;
  background-image: url('../img/process.png');
  background-size: cover;
  width: 54.3vw;
  height: 32vw;
  left: 21vw;
  top: 109.7vw;
}

.b2 {
  top: 157vw;
}

}
