@media only screen and (min-width: 1025px){
body {
  /* height: 73.65vw;
  width: 100vw;
  background-image: url('../img/3.png');
  background-position: center center; */
  background-color: black;
  background-size: cover;
}
.none {
  display: none;
}

.timetable {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 58vw;
}

/* div's podition */
.d6th {
  width: 38.5vw;
}
.d10th {
  border-top: 2px solid #FFFFFF;
  width: 38.5vw;
}
.d15th {
  border-top: 2px solid #FFFFFF;
  width: 38.5vw;
}
.d20th {
  border-top: 2px solid #FFFFFF;
  width: 38.5vw;
}
.d25th {
  border-top: 2px solid #FFFFFF;
  width: 38.5vw;
}
.d1st {
  border-top: 2px solid #FFFFFF;
  width: 38.5vw;
}
.d5th {
  border-top: 2px solid #FFFFFF;
  width: 38.5vw;
}
.timetable > div:nth-of-type(odd) {
  height: 4vw;
  display: flex;
  padding-top: 2vw;
}


.timetable > div:nth-of-type(even) {
    padding-bottom: 1.5vw;
}

/* pluses */
.plus {
  z-index: 1;
  background-image: url('../img/plus.png');
  background-size: cover;
  width: 1.64vw;
  height: 1.64vw;
  left: 38vw;
  top: 1.5vw;
  cursor: pointer;
}

/* data */
.date1 {
  z-index: 1;
  top: 1.5vw;
  width: 38.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 3.33vw;
  line-height: 1.56vw;
  color: #fff;
}
.date1:hover {
  font-weight: 900;
  color: #FFE602;
}
.date2 {
  z-index: 1;
  top: 1.5vw;
  width: 38.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 3.33vw;
  line-height: 1.56vw;
  color: #fff;
}
.date2:hover {
  font-weight: 900;
  color: #FFE602;
}
.date3 {
  z-index: 1;
  top: 1.5vw;
  width: 38.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 3.33vw;
  line-height: 1.56vw;
  color: #fff;
}
.date3:hover {
  font-weight: 900;
  color: #FFE602;
}
.date4 {
  z-index: 1;
  top: 1.5vw;
  width: 38.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 3.33vw;
  line-height: 1.56vw;
  color: #fff;
}
.date4:hover {
  font-weight: 900;
  color: #FFE602;
}
.date5 {
  z-index: 1;
  top: 1.5vw;
  width: 38.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 3.33vw;
  line-height: 1.56vw;
  color: #fff;
}
.date5:hover {
  font-weight: 900;
  color: #FFE602;
}
.date6 {
  z-index: 1;
  top: 1.5vw;
  width: 38.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 3.33vw;
  line-height: 1.56vw;
  color: #fff;
}
.date6:hover {
  font-weight: 900;
  color: #FFE602;
}
.date7 {
  z-index: 1;
  top: 1.5vw;
  width: 38.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 3.33vw;
  line-height: 1.56vw;
  color: #fff;
}
.date7:hover {
  font-weight: 900;
  color: #FFE602;
}


/* text1 */
.textT {
  padding-bottom: 1.5vw;
  z-index: 1;
  width: 32.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2.30vw;
  line-height: 2.56vw;
  color: #fff;
}

/* text2 */
.t {
  z-index: 1;
  width: 32.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 2.56vw;
  color: #fff;
}

.b {
  top: 50vw;
}

}
}
}
